body,html{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}
#app{
    height: 100%;
    width: 100%;
    position: relative;
}
#bgCanvas{
    display: block;
    background-color:#78b6d2; 
    position: absolute;
}
.gameCanvas{
    position: absolute;
}
#frontCanvas{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: aliceblue;
}
.startBtn{
    background-color: #00000000;
    border:none;
    font-family: 'STHupo';
    font-size: 30px;
    color:#7b7bbf;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.indexBtn{
    width: 200px;
    height: 60px;
    background-color: #79c7ea;
    position: absolute;
    bottom:0;
    right:0;
    border-radius: 5px;
    border-color: #8fcfec;
    font-family: 'STHupo';
    color:white;
    font-size :30px;
    line-height: 60px;
    text-align: center;
    text-decoration:none;
}
#clockCanvas{
    position: absolute;
    
}
.editArea{
    float: left;
    text-decoration: none;
    border:1px solid  #78b6d2;
    width: 40%;
    min-height: 500px;
}
.default{
    margin-top: 1px;
    margin-bottom:1px; 
}
.transferArea{
    display: inline-block;
    border:1px solid  #78b6d2;
    width: 40%;
    min-height: 500px;
}